@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.input-grup {
    display:grid;
    grid-template-columns: 66% auto;
    padding: 4em 1em;
}
body{
    background: #A5D1DF;
    margin: 0 10px;
}

.wrapper{
    margin-left: 30px;
}
.next{
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.payment{
  max-width: 550px;
  margin: 50px auto;
  height: auto;
  padding: 30px;
  padding-top: 70px;
  border-radius: 5px;
  position: left;
  font-style: 'Poppins';
}

.Payment h1{
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    color: #030f20;
}

.Payment h2{
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-top: 5px;
    color: #030f20;
}
.name{
    color: #fcfcfc;
}
.Payment h3{
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #0f0f0f;
}
.form label{
    color:#1D2521;
    margin-bottom: 30px;
    text-align: right;
    width: 50%;
}

.box-content{
    /* display:center; */
    /* text-align: center; */
    background-color: #ffffff;
    width: 80%;
    margin-left: auto;
    margin-left: 100px;
    margin-bottom: 150px;
    align-items: center;flex-direction: column;
    padding: 30px;
    border: 10px ;
    border-radius: 30px;
    letter-spacing: 1px;
}
/* .product-box{
    grid-template-columns: 60%;
    margin-left: auto;
    background-color: #072131;
    width: 45%;
    flex-direction: column;
    align-items: left;
    margin-top: -150px;
    padding: 20px;
    border: 10px ;
    border-radius: 30px;
    letter-spacing: 1px;
}  */
.inp-acc{
    grid-template-columns: 60%;
    margin-left: auto;
    background-color: #b8e0f3;
    width: 60%;
    flex-direction: column;
    align-items: left;
    margin-top: -240px;
    padding: 20px;
    border: 10px ;
    border-radius: 30px;
    letter-spacing: 1px;
} 
.input-product{
    grid-template-columns: 60%;
    margin-left: auto;
    background-color: #01253b;
    width: 60%;
    flex-direction: column;
    align-items: left;
    margin-top: -10px;
    padding: 20px;
    border: 10px ;
    border-radius: 30px;
    letter-spacing: 1px;
}

.input-box{
    grid-template-columns: 60%;
    margin-left: auto;
    background-color: #b8e0f3;
    width: 60%;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    padding: 20px;
    border: 10px ;
    border-radius: 30px;
    letter-spacing: 1px;
} 
.confirm-pay{
    grid-template-columns: 60%;
    margin-left: auto;
    background-color: #01253b;
    width: 60%;
    flex-direction: column;
    align-items: left;
    margin-top: 30px;
    padding: 20px;
    border: 10px ;
    border-radius: 30px;
    letter-spacing: 1px;
}
.card-pay{
    font-display: left;
    text-align: right;
    margin-right: auto;
}

.form .input{
    padding: 13px 0 13px 25px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    letter-spacing: 3px;
    word-wrap: 3px;
    outline: none;
    font-size: 14px;
    color: #040202;
    padding-bottom: 10px;
}
.detail-box{
    background-color: #b8e0f3;
        width: 33%;
        margin-top: 15px;
        margin-bottom: 17px;
        flex-direction: column;
        border-radius: 15px;
        align-items: left;
        padding: 30px;
}
.inp
.card{
    margin-top: 15px;
}
.card-grp{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.payment h4{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #1D2521;
}

.name:focus{
    -webkit-box-shadow:0 0 2px 1px #ffffff;
    -moz-box-shadow:0 0 2px 1px #ffffff;
    box-shadow: 0 0 8px 1px #ffffff;
    border: 7px solid #2f91aa;
}

.radio{
    display: none;
    padding-top: 10px;
    padding: auto;
    text-decoration-color: #141414;
}
.radio:checked + label{
    background-color: #079dab;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.input[type="radio"]:checked{
    box-shadow: #079dab;
}
.input-box select{
    display:;
    width: 50%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    float:left;
    text-align: center;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration-color: #ffffff;
}
.space{
    margin-bottom: 4px;
}
.botton{
    margin-top: 10px;
    border: none;
    background: #d1d1d1;
    padding: 12px;
    text-align: center;
    color:rgb(0, 0, 0);
    border-radius: 12px;
    transition: all 0.35s ease;
}

.botton:hover{
    cursor: pointer;
    background:  #079dab;
}
/*
@media screen and (min-width: 600px){
    .card-grp{
        flex-direction: column;
    }
    .card-item{
        width: 50%;
        margin-bottom: 10px;
    }
    .botton{
        margin-bottom: 20px;
    }*/


    body .navbar {
        display: flex;
        width: 100%;
        height: 80px;
        font-family: "Source Sans Pro", sans-serif;
      }
      body .navbar .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 80px;
        float: left;
        user-select: none;
      }
      body .navbar .navbar-brand img {
        height: 80%;
      }
      body .navbar .link-group {
        display: flex;
        float: right;
        width: 100%;
        height: 100%;
        justify-content: end;
        transition: 1s;
      }
      body .navbar .link-group ul {
        position: relative;
        right: 50px;
        float: right;
        list-style: none;
      }
      body .navbar .link-group ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80%;
        float: left;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        margin: 0px 10px;
      }
      body .navbar .link-group ul li a {
        text-decoration: none;
        color: #CC704B;
      }
      body .navbar .link-group ul li a span {
        display: none;
      }
      body .navbar .link-group ul li:hover {
        border-bottom: 2px solid #CC704B;
      }
      body .navbar .mobile-btn {
        display: none;
      }
      
      @media screen and (max-width: 930px) {
        body {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          overflow-x: hidden;
        }
        body .navbar .link-group {
          width: 350px;
          height: auto;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.2);
          float: right;
          right: -100%;
          top: 80px;
          user-select: none;
          border-radius: 10px 0px 0px 10px;
        }
        body .navbar .link-group ul {
          height: 100%;
          right: 11%;
        }
        body .navbar .link-group ul li {
          justify-content: start;
          width: 95%;
          height: 60px;
          margin-bottom: 10px;
          padding: 20px;
          border-radius: 5px;
        }
        body .navbar .link-group ul li a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        body .navbar .link-group ul li a span {
          display: block;
          padding: 0px 16px;
        }
        body .navbar .link-group ul li:hover {
          background-color: darkgray;
          border: none;
        }
        body .navbar .mobile-btn {
          position: absolute;
          float: right;
          right: 20px;
          top: 10px;
          display: block;
          user-select: none;
        }
        body .navbar .mobile-btn span {
          color: #CC704B;
          font-size: 60px;
        }
        body .navbar .mobile-btn .open {
          cursor: pointer;
        }
        body .navbar .mobile-btn .close {
          cursor: pointer;
          display: none;
          color: maroon;
        }
      }